<div class="modal-overlay">
  <div class="modal-content">
    <h2>Registrar Nuevo Lugar</h2>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="form-group">
        <label>Nombre del Lugar</label>
        <input title="RAAA" formControlName="locationName" type="text" />
      </div>

      <div class="form-group">
        <label>Tipo de Lugar</label>
        <select title="RAAA" formControlName="locationType">
          <option value="">Seleccione tipo</option>
          <option value="Edificio">Edificio</option>
          <option value="Sala">Sala</option>
          <option value="Laboratorio">Laboratorio</option>
          <!-- puedes cargar dinámicamente de la base de datos -->
        </select>
      </div>

      <div class="form-group">
        <label>Lugar Padre (Opcional)</label>
        <input
          formControlName="parentLocation"
          type="text"
          placeholder="Ej: Edificio Central"
        />
      </div>

      <div class="modal-actions">
        <button type="submit" [disabled]="!form.valid">Guardar</button>
        <button type="button" (click)="cancelModal()">Cancelar</button>
      </div>
    </form>
  </div>
</div>
