<div
  class="dropdown"
  [class.disabled]="disabled"
  appClickOutside
  (appClickOutside)="close()"
>
  <div class="selected" (click)="toggleDropdown()">
    {{ displaySelectedLabel() || placeholder }}
    <span class="arrow" [class.open]="showDropdown()">&#9660;</span>
  </div>

  <div class="dropdown-list" *ngIf="showDropdown()">
    <div class="input-wrapper">
      <input
        type="text"
        [ngModel]="searchTerm()"
        (ngModelChange)="searchTerm.set($event.toUpperCase())"
        placeholder="Buscar..."
        title="Buscar opciones"
        aria-label="Buscar opción"
        appUppercase
      />

      <button
        *ngIf="searchTerm().trim()"
        type="button"
        class="clear-btn"
        (click)="clearSearch($event)"
        aria-label="Limpiar búsqueda"
        title="Limpiar búsqueda"
      >
        ✖
      </button>
    </div>

    <div
      class="option"
      *ngFor="let opt of filteredOptions"
      (click)="onSelect(opt)"
    >
      {{ opt.label }}
    </div>

    <div class="option add-new" *ngIf="canAddNew()" (click)="onAddNew()">
      ➕ Agregar “{{ searchTerm().trim() }}”
    </div>
  </div>
</div>
