.filters-panel {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 16px;

  input,
  app-dropdown-filter {
    min-width: 160px;
    flex: 1;
  }
}

.equipment-list {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .equipment-item {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
