<div
  class="dropdown"
  [class.disabled]="disabled"
  appClickOutside
  (appClickOutside)="close()"
>
  <div class="selected" (click)="toggleDropdown()">
    {{ selectedValue || placeholder }}
  </div>

  <div class="dropdown-list" *ngIf="showDropdown()">
    <input
      type="text"
      [value]="searchTerm()"
      (input)="onInputChange($event)"
      placeholder="Buscar..."
      aria-label="Buscar opción"
      appUppercase
    />

    <div
      class="option"
      *ngFor="let opt of filteredOptions"
      (click)="onSelect(opt, $event)"
    >
      {{ opt }}
    </div>

    <div class="option add-new" *ngIf="canAddNew()" (click)="onAddNew($event)">
      ➕ Agregar “{{ searchTerm().trim() }}”
    </div>
  </div>
</div>
