<div *ngIf="isLoading" class="spinner-overlay">
  <div class="spinner"></div>
  <p>Cargando datos...</p>
</div>
<div *ngIf="!isLoading" class="register-container">
  <h1>Actualizar Laboratorio</h1>
  <p class="subtitle">Modifique los datos del laboratorio seleccionado.</p>

  <form [formGroup]="labForm" (ngSubmit)="submitForm()">
    <!-- Nombre (Deshabilitado) -->
    <div class="form-group">
      <label for="labName"
        >Nombre del Laboratorio<span class="required">*</span></label
      >
      <input
        id="labName"
        type="text"
        class="form-control"
        formControlName="labName"
        appUppercase
      />
    </div>

    <!-- Descripción -->
    <div class="form-group">
      <label for="description"
        >Descripción <span class="required">*</span></label
      >
      <textarea
        id="description"
        class="form-control auto-expand"
        formControlName="description"
        rows="1"
        appUppercase
        placeholder="Describa brevemente el laboratorio"
        (input)="autoResize($event)"
      ></textarea>
      <div
        *ngIf="
          labForm.get('description')?.invalid &&
          labForm.get('description')?.touched
        "
        class="error-message"
      >
        La descripción es obligatoria
      </div>
    </div>

    <!-- Lugar -->
    <!-- Lugar -->
    <div class="form-group">
      <label for="locationName">Lugar <span class="required">*</span></label>
      <app-dropdown-search-entity
        [options]="availableLocations"
        [selectedValue]="selectedLocationOrProposed"
        (select)="onSelectLocation($event)"
        (addNew)="onProposedLocation($event)"
        placeholder="Busque o agregue un lugar"
      ></app-dropdown-search-entity>

      <div
        *ngIf="
          labForm.get('locationName')?.invalid &&
          labForm.get('locationName')?.touched
        "
        class="error-message"
      >
        Debe seleccionar o agregar un lugar
      </div>
    </div>

    <!-- Estado -->
    <div class="form-group">
      <label for="status">Estado Actual <span class="required">*</span></label>
      <select
        id="status"
        class="form-control"
        formControlName="status"
        (change)="onStatusChange()"
      >
        <option value="" disabled>Seleccione un estado</option>
        <option value="ACTIVO">ACTIVO</option>
        <option value="INACTIVO">INACTIVO</option>
      </select>
      <div
        *ngIf="labForm.get('status')?.invalid && labForm.get('status')?.touched"
        class="error-message"
      >
        Seleccione el estado actual del laboratorio
      </div>
    </div>

    <!-- Observaciones -->
    <div class="form-group" *ngIf="labForm.get('status')?.value === 'INACTIVO'">
      <label for="notes">Observaciones <span class="required">*</span></label>
      <textarea
        id="notes"
        class="form-control auto-expand"
        formControlName="notes"
        rows="2"
        appUppercase
        placeholder="Indique las razones si el laboratorio está inactivo"
        (input)="autoResize($event)"
      ></textarea>
      <div
        *ngIf="
          notesRequired &&
          labForm.get('notes')?.invalid &&
          labForm.get('notes')?.touched
        "
        class="error-message"
      >
        Debe ingresar observaciones si el laboratorio está inactivo
      </div>
    </div>

    <!-- Botones -->
    <div class="button-group">
      <button
        type="button"
        class="btn cancel-btn"
        [disabled]="isSubmitting"
        (click)="goBack()"
      >
        Volver
      </button>
      <button
        type="submit"
        class="btn submit-btn"
        [disabled]="
          labForm.invalid ||
          (labForm.get('status')?.value === 'INACTIVO' &&
            !labForm.get('notes')?.value?.trim())
        "
      >
        Guardar Cambios
      </button>
    </div>

    <!-- Modal de Confirmación -->
    <app-confirm-modal
      [title]="'Confirmar Actualización de Laboratorio'"
      [show]="showConfirmationModal"
      [confirmLabel]="'Actualizar Laboratorio'"
      [cancelLabel]="'Cancelar'"
      [isLoading]="isSubmitting"
      (confirm)="confirmUpdate()"
      (cancel)="cancelConfirmation()"
    >
      <p>
        Está a punto de actualizar la información de un laboratorio en el
        sistema. Por favor, revise los datos antes de confirmar:
      </p>
      <ul class="summary-list">
        <li>
          <strong>Nombre del Laboratorio:</strong>
          {{ labForm.get("labName")?.value }}
        </li>
        <li>
          <strong>Descripción:</strong> {{ labForm.get("description")?.value }}
        </li>
        <li>
          <strong>Ubicación:</strong> {{ labForm.get("locationName")?.value }}
        </li>
        <li>
          <strong>Estado Actual:</strong> {{ labForm.get("status")?.value }}
        </li>
        <li *ngIf="labForm.get('status')?.value === 'INACTIVO'">
          <strong>Observaciones:</strong> {{ labForm.get("notes")?.value }}
        </li>
      </ul>

      <div
        *ngIf="modalFeedbackMessage"
        class="feedback"
        [ngClass]="modalFeedbackSuccess ? 'success' : 'error'"
      >
        {{ modalFeedbackMessage }}
      </div>
    </app-confirm-modal>
  </form>
</div>
