<div class="forgot-password-background">
  <main class="forgot-password-container">
    <!-- Encabezado con botón de regreso -->
    <header class="forgot-password-header">
      <button class="btn-back" (click)="goBack()">←</button>
    </header>

    <!-- Logos institucionales -->
    <section class="forgot-password-logos">
      <img class="forgot-password-logo" src="/logo_uptc.png" alt="Logo UPTC" />
      <hr class="forgot-password-divider" />
      <img
        class="forgot-password-logo"
        src="/logo_incitema.png"
        alt="Logo INCITEMA"
      />
    </section>

    <!-- Título -->
    <h2 class="forgot-password-title">RECUPERAR CONTRASEÑA</h2>
    <p class="forgot-password-subtitle">Ingresa tu usuario institucional</p>

    <!-- Mensaje de éxito o error -->
    <div
      *ngIf="message"
      class="forgot-password-message"
      [ngClass]="{ error: hasError, success: !hasError }"
    >
      {{ message }}
    </div>

    <!-- Formulario -->
    <!-- Input + dominio -->
    <form class="forgot-password-form" (ngSubmit)="onSubmit()">
      <div class="forgot-password-input-group">
        <input
          type="text"
          class="forgot-password-input"
          [(ngModel)]="username"
          name="username"
          placeholder="Usuario institucional"
          required
          appUppercaseNospace
          [disabled]="isLoading || cooldown > 0"
        />
        <span class="forgot-password-domain">&#64;uptc.edu.co</span>
      </div>

      <button
        type="submit"
        class="forgot-password-button"
        [disabled]="!username || isLoading || cooldown > 0"
      >
        <ng-container *ngIf="!isLoading; else loading">
          {{ cooldown > 0 ? "Espera (" + cooldown + "s)" : "Buscar" }}
        </ng-container>
        <ng-template #loading>
          <span class="spinner-border spinner-border-sm" role="status"></span>
          Enviando...
        </ng-template>
      </button>
    </form>
  </main>
</div>
