<div *ngIf="activeFilters.length > 0" class="advanced-search">
  <div class="filter-group" *ngFor="let field of fieldsConfig">
    <label>{{ field.label }}:</label>

    <!-- Input para text, number, time -->
    <input
      *ngIf="['text', 'number', 'time'].includes(field.type)"
      [type]="field.type"
      [(ngModel)]="filters[field.key]"
      (change)="emitFilters()"
      [placeholder]="field.placeholder"
      [min]="field.type === 'number' ? 0 : null"
      title="Ingrese"
    />

    <!-- Input para date con blur en vez de change -->
    <input
      *ngIf="field.type === 'date'"
      type="date"
      [(ngModel)]="filters[field.key]"
      (blur)="emitFilters()"
      [placeholder]="field.placeholder"
      title="Ingrese"
    />

    <!-- Dropdown personalizado (con buscador) -->
    <app-dropdown-filter
      *ngIf="field.type === 'dropdown'"
      [options]="options[field.key] || []"
      [selected]="filters[field.key]"
      (selectedChange)="filters[field.key] = $event; emitFilters()"
      [placeholder]="field.placeholder || field.label"
      [allowEmpty]="field.allowEmptyOption || 'Todas'"
    ></app-dropdown-filter>

    <select
      *ngIf="field.type === 'select'"
      [(ngModel)]="filters[field.key]"
      (change)="emitFilters()"
      title="Seleccione"
    >
      <!-- Opción vacía -->
      <option *ngIf="field.allowEmptyOption" [value]="''">
        {{ field.allowEmptyOption }}
      </option>

      <!-- Si las opciones son de tipo string[] -->
      <ng-container *ngIf="isStringArray(field.options)">
        <option *ngFor="let opt of field.options" [value]="opt">
          {{ opt }}
        </option>
      </ng-container>

      <!-- Si las opciones son de tipo { label, value }[] -->
      <ng-container *ngIf="isObjectArray(field.options)">
        <option *ngFor="let opt of field.options" [value]="opt.value">
          {{ opt.label }}
        </option>
      </ng-container>
    </select>
  </div>
</div>
